body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 32px;
}

.game-section {
    position: relative;
    width: 720px;
    height: 480px;
}

.startscreen {
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.start-img {
    width: 256px;
    opacity: 0.8;
    margin-top: 250px;
    cursor: pointer;
}

canvas {
    border: 2px solid grey;
    border-radius: 25px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 720px;
    border: 2px solid grey;
    border-radius: 25px;
    background-color: rgb(171, 171, 188);
}

.introductions {
    cursor: pointer;
    width: 128px;
}

.fullscreen {
    cursor: pointer;
    width: 256px;
}

.introductions-container {
    width: 100%;
    height: 100%;
    background-color: rgb(141, 222, 175);
    border: 2px solid grey;
    border-radius: 25px;
}

.introductions-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 32px;
}

.introductions-move-with-arrows-img {
    width: 120px;
    height: auto;
}

.introductions-attack-with-d-img {
    width: 120px;
    height: auto
}

.introductions-attack-with-space-img {
    width: 200px;
    height: auto;
}

.move {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.attack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.win-container {
    background-image: url('img/6.Botones/Tittles/You win/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.try-again {
    width: 256px;
    opacity: 0.8;
    margin-top: 300px;
    cursor: pointer;
    margin-left: 271px;
}

.game-over-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
    opacity: 0.5;
}

.game-over-image{
    width: 300px;
    height: 100px;
    z-index: 10;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.disabled-image {
    pointer-events: none;
}