body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    margin: 0;
    background-image: url('img/Additional/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    width: 500px;
    margin-left: 93px;
}

.menu-title {
    width: 250px;
    margin-left: 228px;
}

h1 {
    font-size: 56px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.game-section {
    position: relative;
    width: 720px;
    height: 480px;
}

.startscreen {
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.start-img {
    width: 256px;
    opacity: 0.8;
    margin-top: 250px;
    cursor: pointer;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 720px;
    border: 2px solid grey;
    border-radius: 25px;
    background-color: #26b8d6;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.impressum-and-data-police {
    display: flex;
    align-items: center;
    justify-content: center;
}

.impressum-and-data-police img {
    width: 200px;
    cursor: pointer;
}

.introductions {
    cursor: pointer;
    width: 60px;
}

.volume {
    cursor: pointer;
    width: 72px;
}

.volume-slider {
    cursor: pointer;
}

.fullscreen {
    cursor: pointer;
    width: 256px;
}

.introductions-container {
    position: fixed;
    z-index: 1000;
    top: 23%;
    left: 14%;
    width: 70%;
    height: 50vh;
    border: 2px solid black;
    background-color: #b476fb;
    border-radius: 50px;
    opacity: 0.97;
}

.introductions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

.introductions-move-with-arrows-img {
    width: 120px;
    height: auto;
}

.introductions-attack-with-d-img {
    width: 120px;
    height: auto
}

.introductions-attack-with-space-img {
    width: 200px;
    height: auto;
}

.move {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.attack {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.win-container {
    background-image: url('img/6.Botones/Tittles/You win/Mesa de trabajo 1.png');
    background-color: #6c8ee7;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.try-again {
    width: 256px;
    opacity: 0.8;
    margin-top: 300px;
    cursor: pointer;
    margin-left: 271px;
}

.try-again-in-game-over-container {
    width: 256px;
    opacity: 0.8;
    cursor: pointer;
    animation-name: spinAndMove;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.game-over-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 25px;
}

.game-over-image {
    width: 300px;
    height: 100px;
    z-index: 10;
    opacity: 0.9;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.disabled-image {
    pointer-events: none;
}

.game-introduction {
    cursor: pointer;
}

.game-introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    top: 23%;
    left: 14%;
    width: 70%;
    height: 50vh;
    border: 2px solid black;
    background-color: #B4775D;
    border-radius: 50px;
    opacity: 0.97;
}

#game-introduction-container.display-none {
    display: none;
}

.game-instruction-header {
    margin-top: -163px;
}

.game-instruction--text {
    margin: 0 50px;
    font-size: larger;
}

.close-game-introduction {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 23px;
    z-index: 1001;
    width: 32px;
}

@keyframes spinAndMove {
    from {
        transform: translateX(-200px) rotate(0deg);
    }

    to {
        transform: translateX(50%) rotate(360deg);
    }
}

.canvas {
    border: 2px solid grey;
    border-radius: 25px;
}

.joystick {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: none;
}

.finslap-attack-button,
.bubble-attack-button {
    position: absolute;
    bottom: 10%;
    z-index: 99999999999999;
    border-radius: 50px;
    background-color: lightcoral;
    padding: 12px;
    border: none;
    display: none;
}

.finslap-attack-button {
    right: 20%;
    background-color: lightcoral;
}

.bubble-attack-button {
    background-color: lightsalmon;
    right: 10%;
}

@media (min-width: 1200px) {
    .joystick,
    .finslap-attack-button,
    .bubble-attack-button {
        display: none;
    }
}

@media only screen and (max-width: 720px) {

    .game-section,
    .startscreen,
    .win-container,
    .introductions-container,
    .canvas,
    .game-over-container {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 0;
        overflow-y: hidden;
    }

    .joystick,
    .finslap-attack-button,
    .bubble-attack-button {
        display: block;
    }

    .menu-container {
        display: none;
    }

    .turn-device {
        display: block;
    }

    .turn-device-text {
        margin: 200px 40px;
    }

    .content {
        width: 100%;
        display: none;
    }

    .game-section {
        height: 420px;
    }

    .menu {
        border: 0;
        border-radius: 0;
        width: 100%;
        flex-direction: column;
    }

    .volume {
        width: 50px;
    }

    .fullscreen {
        display: none;
    }

    .introductions {
        width: 100px;
    }

    .arrows-text {
        width: 145px;
    }

    .attack-with-d-text {
        width: 100px;
    }

    .attack-with-space-text {
        width: 75px;
    }

    .start-img {
        width: 165px;
    }

    .introductions-move-with-arrows-img {
        width: 75px;
    }

    .introductions-attack-with-d-img {
        width: 60px;
    }

    h1 {
        font-size: 36px;
    }

    .try-again {
        margin-top: 250px;
    }
}

@media only screen and (max-height: 480px) {
    .game-section,
    .canvas {
        height: 100vh;
    }

    .menu,
    .title,
    .menu-title,
    h1 {
        display: none;
    }

    .content {
        display: block;
    }
}

